<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vue Todo App</title>
    <link rel="stylesheet" href="./main.css">
</head>
<body>
    <div class="container">
        <div id="app">
            <div class="flex-box category">
                <label v-for="label in options">
                    <input type="radio"
                        v-model="current"
                        v-bind:value="label.value">{{ label.label }}
                </label>
            </div>
            <div class="flex-box">
                ({{ computedTodos.length }} 件を表示)
            </div>
            <table>
                <!-- テーブルヘッダー -->
                <thead v-pre>
                    <tr>
                        <th class="id">ID</th>
                        <th class="comment">コメント</th>
                        <th class="state">状態</th>
                        <th class="button"></th>
                    </tr>
                </thead>
                <tbody>
                    <!-- [1] ここで<tr>でToDoの要素を1行づつ繰り返し表示したい -->
                        <tr 
                            v-for="item in computedTodos"
                            v-bind:key="item.id"
                            v-bind:class="{done:item.state}">
                            <th>{{item.id}}</th>
                            <th>{{item.comment}}</th>
                            <td class="state">
                                <!-- 状態変化ボタンのモック -->
                                <button v-on:click="doChangeState(item)">
                                    {{ labels[item.state] }}
                                </button>
                            </td>
                            <td class="button">
                                <!-- 削除ボタンのモック -->
                                <button v-on:click.ctrl="doRemove(item)">
                                    削除
                                </button>
                            </td>
                        </tr>
                </tbody>
            </table>
            <p>※削除キーはctrlキーを押しながらクリックしてください</p>
    
            <h2>新しい作業の追加</h2>
            <form class="add-form" v-on:submit.prevent="doAdd">
                <!-- コメント入力フォーム -->
                コメント<input type="text" ref="comment">
                <!-- 追加ボタンのモック -->
                <button type="submit">追加</button>
            </form>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
    <script src="./main.js"></script>
</body>
</html>