@charset "utf-8";

* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
}


html {
    font-size: 62.5%;
}

body {
    font-size: 16px;
    font-family: "Helvetica Neue",
    Arial,
    "Hiragino Kaku Gothic ProN",
    "Hiragino Sans",
    Meiryo,
    sans-serif;
}

.flex-box {
    display: flex;
    display: -ms-flex;
}

.container {
    max-width: 1024px;
    margin: 0 auto;
}

/* 分類ボタン */

.category {
    margin-top: 8rem;
    min-height: 30px;
    column-gap: 1px;
    align-items: center;
}

.category > label {
    justify-items: center;
    padding: 1rem 1.5rem;
    border-radius: 4px;
}

label:first-child {
    background-color: #59b9c6;
}

label:nth-child(2) {
    background-color: #84a2d4; 
}

label:nth-child(3) {
    background-color: #89c3eb;
}

/* テーブル */
table {
    text-align: left;
}


tr > th {
    width: 100px;
}

tr > th:nth-child(2) {
    min-width: 300px;
}